.menu_main li
{
	float:left;
	width:auto;
	list-style:none;
	height:50px;
	background:url(../images/menu_line.png);
	background-position:left center;
	background-repeat:no-repeat;
	padding-left:2px;
}
.menu_main li:first-child
{
	background:none;
	padding:0px;
}
.menu_main a
{
	display:block;
	padding:0px 10px;
	font-family: 'sanetregular',Arial;
	font-size:16px;
	color:#FFFFFF;
	height:50px;
	line-height:50px;
	text-shadow: 0 0 1px #7B7A7A;
}
.menu_main a:hover,
.menu_main li.active a
{
	background:url(../images/menu_hov.png);
	background-position:left center;
	background-repeat:repeat-x;
	text-decoration:none;
}
/*start foot_menu*/
.menu_bottom_bot
{
	float:left;
	width:180px;
}
.menu_bottom_title_bot
{
	padding-bottom:5px;
	font-family:14px;
	font-family:'BPGMrgvlovaniCaps2010',Arial;
}
.menu_bottom_list_bot li
{
	list-style:none;
	padding:2px 0;
}
.menu_bottom_list_bot
{
	padding-right:10px;
}
.menu_bottom_list_bot li a:hover,
.menu_bottom_list_bot li.active a
{
	color:#ED1C24;
}
/*end foot_menu*/