#top-link {
    background: url(../images/backtotop.png);
    bottom: 140px;
    color: #FFFFFF;
    display: none;
    height: 35px;
    left: 50%;
    margin-left: 500px;
    position: fixed;
    text-decoration: none;
    width: 123px;
    z-index: 999999789;
}

.fb_fanbox_popup_title
{
	background:#50ABE6;
	padding:5px;
	font-size:16px;
	font-weight:bold;
	color:#FFFFFF;
	margin:5px 5px 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.fb_fanbox_popup_text
{
	padding:5px 15px 0;
	text-align:justify;
	line-height:1.5em;
}

/*start header*/
#header
{
	height:114px;
	background:#FFFFFF;
}
#header_left
{
	float:left;
	width:240px;
}
.header_right
{
	text-align:right;
	float:right;
	width:auto;
	padding:15px 0px 0;
}
.header_left
{
	padding:15px 0 0 15px;
}
.header_rightin
{
	padding-left:20px;
}
.header_banner
{
	float:right;
	width:310px;
	padding-top:25px;
}
.header
{
	padding-right:15px;
}
.header_left p
{
	margin:0px;
}
.header_left a
{
	font-size:0px;
}
#header_right
{
	float:right;
	width:auto;
}
#mainmenu
{
	height:60px;
}
#content
{
	padding:0px 32px;
	background:url(../images/content_del.png);
	background-position:top center;
	background-repeat:no-repeat;
}
.content_in
{
	background:url(../images/content_del.png);
	background-position:bottom center;
	background-repeat:no-repeat;
	padding:10px 0;
}
/*end header*/
/*start footer*/
#footer
{
	background:url(../images/menu_bot.png);
	background-position:top center;
	background-repeat:no-repeat;
	padding-top:84px;
	margin:0 -5px;
}
.footer
{
	padding:0 5px 0 6px;
}
.footer_in
{
	background:#FFFFFF;
	padding:20px;
}
#copyright
{
	padding-top:5px;
	text-align:right;
	line-height:18px;
	font-size:11px;
	font-weight:bold;
}
.counter
{
	text-align:right;
	padding-top:10px;
}
/*end footer*/
.hits,
.category-name
{
	padding-bottom:5px;
}
.article_social
{
	text-align:right;
	padding-bottom:10px;
}


#side_phone {
	bottom: 130px;
	color: #FFFFFF;
	background-color: #3B71B9;
	height: 210px;
	/*right: 50%;
	margin-right: 500px;*/
	position: fixed;
	right:50%;
	margin-right:478px;
	text-decoration: none;
	width:140px;
	z-index: 999999;
	display: inline;
	font-size: 14px;
	padding: 4px 4px 4px 6px;
	line-height: 20px;
}