/*start mod_user*/
.mod_user_profile,
.mod_user_transactions,
.mod_user_logout
{
	font-size:0px;
}
.mod_user_but
{
	padding-top:10px;
}
.mod_user_log a
{
	display:block;
	background:url(../images/sprite.png);
	background-position:0 -75px;
	background-repeat:no-repeat;
	width:111px;
	height:25px;
}



.mod_user_fb_log a
{
	display:block;
	background:url(../images/icons/fb_login.png) no-repeat;
	height:40px;
	margin-top: 15px;
	width: 233px;
}




/*.mod_user_log a:hover
{
	display:block;
	background:url(../images/sprite.png);
	background-position:0 -75px;
	background-repeat:no-repeat;
}*/
.mod_user_log,
.mod_user_reg,
.mod_user_fb_log
{
	float:left;
	width:auto;
	margin:0 5px;
}
.mod_user_reg a
{
	display:block;
	background:url(../images/sprite.png);
	background-position:0 -25px;
	background-repeat:no-repeat;
	width:111px;
	height:25px;
}
/*.mod_user_reg a:hover
{
	display:block;
	background:url(../images/sprite.png);
	background-position:0 -25px;
	background-repeat:no-repeat;
}*/
.mod_user_but
{
	display:table;
	float:right;
	width:auto;
}
.mod_user_name
{
	background:url(../images/bg_username.png);
	background-position:left center;
	background-repeat:no-repeat;
	padding:3px 0 3px 25px;
	color:#747474;
	font-size:14px;
}
.mod_user_names
{
	margin-bottom:10px;
	font-size:14px;
}
.mod_user_balancnumbere,
.mod_user_idnumber
{
	color:#e00707;
	font-weight:bold;
}
.mod_user_balance,
.mod_user_id
{
	color:#747474;
}
.mod_user_toolbar
{
	padding-top:20px;
}
.mod_user_toolbar span img
{
	margin-left:5px;
}
/*end mod_user*/
/*start login*/
.login_body
{
	border:5px solid #ED1C24;
	padding:10px;
}
.login_title
{
	font-size:17px;
	font-weight:bold;
	padding-bottom:3px;
	border-bottom:1px solid #ED1C24;
	margin-bottom:20px;
	font-family:"BPGNinoMtavruli";
	color:#3B5999;
}
.log_form
{
	display:table;
	margin:0px auto;
}
.login_label
{
	padding:0 0 3px 20px;
	color:#454545;
}
.validate-username,
.validate-password,
.regist_input .required,
.reset_input .required,
.profile_input input
{
	font-size:11px;
	padding:5px;
	background:#EBEBEB;
	height:16px;
	color:#707070;
	width:160px;
	border:1px solid #A7A7A7;
}


input[type="radio"]
{
	font-size:11px;
	padding:5px;
	background:#EBEBEB;
	height:16px;
	color:#707070;
	width:30px;
	border:1px solid #A7A7A7;
	margin-left: 4px;
}

.validate-username:hover,
.validate-password:hover,
.regist_input .required:hover,
.reset_input .required:hover,
.profile_input input:hover
{
	border:1px solid #ED1C24;
}


.login-fields,
.regist_item
{
	padding-bottom:10px;
}
.login_input1
{
	background:url(../images/bg_loguser.png);
	background-position:left center;
	background-repeat:no-repeat;
	padding-left:20px;
}
.login_input2
{
	background:url(../images/bg_logopass.png);
	background-position:left center;
	background-repeat:no-repeat;
	padding-left:20px;
}
.login-fields_rem
{
	padding:0 0 10px 20px;
}
.comlogin_button
{
	padding:0 0 0 20px;
}
.comlog_button
{
	background:url(../images/sprite.png);
	background-position:0 -125px;
	background-repeat:no-repeat;
	height:25px;
	width:68px;
	border:none;
}
.comlog_button:hover
{
	background:url(../images/sprite.png);
	background-position:0 -100px;
	background-repeat:no-repeat;
}
.login_reset_reg
{
	padding-top:10px;
	display:table;
	margin:0px auto;
}
.login_reset_reg ul li
{
	list-style:none;
	float:left;
	width:auto;
	height:25px;
	line-height:23px;
}
.login_reset_reg ul li:first-child
{
	background:url(../images/log_del.png);
	background-position:right center;
	background-repeat:no-repeat;
}
.login_reset_reg ul li a
{
	display:block;
	padding:0 10px;
}
.login_reset_reg ul li a:hover
{
	color:#ED1C24;
}
/*end login*/
.login_desc,
.profile_items
{
	padding-bottom:10px;
}
.reset_items,
.regist_body,
.editprof_block
{
	display:table;
	margin:0px auto;
}
.reset_label,
.regist_label,
.profile_label
{
	padding-bottom:5px;
}
.reset_but
{
	display:table;
	margin:0px auto;
}
.button_save
{
	padding-left:4px;
}
.save_button:hover
{
	background:url(../images/sprite.png);
	background-position:0px -200px;
	background-repeat:no-repeat;
}
.save_button
{
	border:none;
	background:url(../images/sprite.png);
	background-position:0px -225px;
	background-repeat:no-repeat;
	width:67px;
	height:25px;
}
.regist_button
{
	display:block;
	background:url(../images/sprite.png);
	background-position:0 0px;
	background-repeat:no-repeat;
	width:111px;
	height:25px;
	border:none;
	margin-right:10px;
	float:left;
}
.cancel_reg
{
	display:block;
	float:left;
	width:75px;
	height:25px;
	background:url(../images/sprite.png);
	background-position:0 -275px;
	background-repeat:no-repeat;
}
.cancel_reg:hover
{
	background:url(../images/sprite.png);
	background-position:0 -250px;
	background-repeat:no-repeat;
}
.regist_button:hover
{
	display:block;
	background:url(../images/sprite.png);
	background-position:0 -25px;
	background-repeat:no-repeat;
}
